* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* width: 100%; */
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 25rem;
    background-color: orange;
    margin: 40px auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

.container .uperContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container .uperContainer .item1 {
    width: 100%;
}

.container .uperContainer .item1 .input1 {
    width: 100%;
    border-radius: 4px;
    border: 1px solid brown;
    height: 1.3rem;
    margin-top: 12px;
}

.container .uperContainer .item2 {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    gap: 3px;
}

.container .uperContainer .item2 .input2 {
    width: 100%;
    height: 1.3rem;
    border-radius: 4px;
    border: 1px solid brown;
}

.container .uperContainer .item2 button {

    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 1rem;
    background-color: pink;
    width: 40px;
    border: 1px solid black;
}

.container .lowerContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}
.container .lowerContainer .maxContainer .Btn{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    gap: 4px;
    /* background-color: red; */
}
.container .lowerContainer .maxContainer .Btn .Button1{
    width: 100%;
    background-color: skyblue;
    border: 1px solid blue;
}
.container .lowerContainer .maxContainer .Btn .Button2{
    background-color: rgba(255, 80, 80, 0.847);
    border: 1px solid rgb(255, 0, 0);
}
.container .lowerContainer .maxContainer{
    display: flex;
    gap: 10px;
    background-color: #ffffff69;
    width: 100%;
    border-radius: 10px;
    padding: 4px 6px;
    align-items: center;
    justify-content: space-between;
}
.container .lowerContainer .maxContainer .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    
}
.container .lowerContainer .maxContainer .image{
    aspect-ratio: 1/1;
    /* object-position: center; */
    width: 3rem;
    overflow: hidden;
    height: 3rem;
}
.lineThrough{
    text-decoration: line-through;
}